VITE_SUPABASE_URL="https://azwduwojjzopkrlrvdkt.supabase.co"
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImF6d2R1d29qanpvcGtybHJ2ZGt0Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjE0NzM1OTgsImV4cCI6MjA3NzA0OTU5OH0.hR2M5UgaLn5x-Bsto709DcopALQ1yPtGIAWZRJaydC4